@model IEnumerable<AllAnimeViewModel>

@{
    ViewData["Title"] = "Tv Series";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="main-content">
                <section class="block_area">
                    <div class="block_area-header">
                        <div class="float-left bah-heading mr-4">
                            <h2 class="cat-heading">TV Series Anime</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab-content">
                        <div class="block_area-content">
                            <div class="row row-cols-3 row-cols-md-4 g-3">
                                @foreach(var a in Model)
                                {
                                        <div class="col">
                                            <div class="card">
                                                <a asp-controller="Watch" asp-action="Watch"><img data-src=@a.Image class="card-img-top" alt=@a.Title src=@a.Image></a>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-badge-cc" viewBox="0 0 16 16">
                                                    <path d="M3.708 7.755c0-1.111.488-1.753 1.319-1.753.681 0 1.138.47 1.186 1.107H7.36V7c-.052-1.186-1.024-2-2.342-2C3.414 5 2.5 6.05 2.5 7.751v.747c0 1.7.905 2.73 2.518 2.73 1.314 0 2.285-.792 2.342-1.939v-.114H6.213c-.048.615-.496 1.05-1.186 1.05-.84 0-1.319-.62-1.319-1.727v-.743zm6.14 0c0-1.111.488-1.753 1.318-1.753.682 0 1.139.47 1.187 1.107H13.5V7c-.053-1.186-1.024-2-2.342-2C9.554 5 8.64 6.05 8.64 7.751v.747c0 1.7.905 2.73 2.518 2.73 1.314 0 2.285-.792 2.342-1.939v-.114h-1.147c-.048.615-.497 1.05-1.187 1.05-.839 0-1.318-.62-1.318-1.727v-.743z" />
                                                    <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z" />
                                                </svg><i class="bi bi-badge-cc">@a.TotalEpisodes</i>
                                                <div class="card-body">  
                                                    <h3 class="film-name">
                                                    @*<a asp-controller="Watch" asp-action="Watch">@a.Title</a>*@
                                                    @Html.ActionLink(a.Title,"Watch","Watch",new {@a.Title},a.TotalEpisodes-(a.TotalEpisodes-1))
                                                    </h3>
												</div>
											</div>
                                        </div>
                                       @* <div class="film-detail">
                                            <h3 class="film-name">
                                                <a asp-controller="watch" asp-action="watch">@a.title</a>
                                            </h3>
                                            <div class="fdi-infor">
												<span class="fid-item">@a.type</span>
                                                <span class="dot"></span>
											</div>
                                        </div>*@
                                        @*<div class="clearfix"></div>*@
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>